<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OCS - Concordia</title>
        <meta name="description" content="Polytech OCS - The diving Concordia">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/#/">Concordia</a>
              <ul class="nav navbar-nav">
                <li><a href="/#/">PH Meter</a></li>
                <li><a href="/#/config">Configuration</a></li>
                <li><a href="/#/test">Test</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- Container will be handled by router -->
        <div id="container" class="container"></div>
        <!--
        <footer>
          <hr>
          <p>&copy; Concordia 2017</p>
        </footer>
        -->

        <!-- scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/jquery.canvasjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
        <script src="/static/js/vendors/sammy-latest.min.js"></script>
        <script src="/static/js/vendors/sammy.template.js"></script>
        <script src="/static/js/router.js"></script>
        <!-- /scripts -->
    </body>
</html>
