<div class="row">
    <div id="chartContainer"
         class="col-sm-12 col-md-offset-1 col-md-10">
        Loading...
    </div>
</div>

<script type="text/javascript">
    $.getJSON('/api/sensor/{{ sensor }}', function(sensorsData) {
        var dataPoints = []
        
        // Get data values
        $.each(sensorsData.data, function(index, sensorData) {
            dataPoints.push({
                x: moment(sensorData.sensor_time).toDate(), 
                y: parseFloat(sensorData.sensor_value)
            })
        })

        // Generate the chart
        $('#chartContainer').CanvasJSChart({
            title: { text: '{{ sensor | title }}' },
            axisX:{      
                valueFormatString: 'DD/MM HH:mm',
                labelAngle: -30
            },
            data: [{
                type: 'line',
                dataPoints: dataPoints
            }]
        })
    })
</script>
